#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}

.name_of_object,#result_object_name,#result_object_accuracy{
    color: blue;
}
body{
    color: white;
    background: linear-gradient(purple,pink);
}
.heading{
    font-size: 22px;
    width: 80%;
}